anndata
click
cycler
dask>=2024.4.1
geopandas
loguru
matplotlib
napari>=0.4.19.post1
napari-matplotlib
numba
numpy
packaging
pandas
pillow
qtpy
scanpy
scipy
shapely
scikit-learn
spatialdata>=0.2.1
superqt
typing_extensions>=4.8.0
vispy
xarray
xarray-datatree